<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Perfume Shop</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
<!--    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/perfume-25-48.png}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>