<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head></head>
<body>
<nav th:fragment="navbar"
     class="navbar navbar-expand-lg bg-transparent navbar-light">
    <a class="navbar-brand mx-1 my-1" href="/" th:title="#{navbar_logo}"><img alt="logo picture"
                                                    th:src="@{/images/perfume-25-64.png}"
                                                    class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-12 justify-content-between d-flex gap-3">
            <li class="nav-item">
                <a class="nav-link text-black"
                   th:text="#{navbar_all_brands}"
                   th:href="@{/brands}">All Brands</a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link text-black"
                   th:text="#{navbar_search}"
                   th:href="@{/search}">Search</a>
                <i class="fa-solid fa-magnifying-glass"></i>
            </li>
            <th:block>
                <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')">
                    <a class="nav-link text-black"
                       th:text="#{navbar_add_product}"
                       th:href="@{/products/add}">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black"
                       th:text="#{navbar_all_products}"
                       th:href="@{/products/all}">All Products</a>
                </li>
                <li class="d-flex nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-black"
                       th:text="#{navbar_cart}"
                       th:href="@{/cart}">Cart()</a>
                    (<span th:text="${session.totalItems == null} ? '0' : ${session.totalItems}">0</span>)
                    <i class="fa-solid fa-cart-shopping fa-beat" style="color: black"></i>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('EMPLOYEE', 'ADMIN')">
                    <a class="nav-link text-black"
                       th:text="#{navbar_all_orders}"
                       th:href="@{/orders-all}">All Orders</a>
                </li>
                <li class="nav-item dropdown"  sec:authorize="hasAnyRole('EMPLOYEE', 'USER')">
                    <div class="dropdown">
                        <a class="nav-link  text-black dropdown-toggle" type="button" id="accountDropdownMenu"
                           data-bs-toggle="dropdown" aria-expanded="false" th:text="#{navbar_my_account}">
                            My account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="accountDropdownMenu">
                            <li><a class="dropdown-item" th:text="#{navbar_my_orders}" th:href="@{/my-orders}">View my orders</a></li>
                            <li sec:authorize="hasAnyRole('EMPLOYEE', 'ADMIN')"><a class="dropdown-item" th:text="#{navbar_all_orders}" th:href="@{/orders-all}">View all orders</a></li>
                            <li><a class="dropdown-item" th:text="#{navbar_my_profile}" th:href="@{/users/profile}">My profile</a></li>
                            <li hidden=""><a class="dropdown-item" th:text="#{navbar_change_password}" href="#">Change password</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <a class="nav-link  text-black dropdown-toggle" type="button" id="adminDropdownMenu"
                           data-bs-toggle="dropdown" aria-expanded="false" th:text="#{navbar_admin}">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="adminDropdownMenu">
                            <li><a class="dropdown-item" th:text="#{navbar_view_all_users}"  th:href="@{/users/all}">View all users</a></li>
                            <li><a class="dropdown-item"  th:text="#{navbar_all_orders}" th:href="@{/orders-all}">View all orders</a></li>
                            <li><a class="dropdown-item" th:text="#{navbar_my_profile}" th:href="@{/users/profile}">My profile</a></li>
                            <li hidden=""><a class="dropdown-item" th:text="#{navbar_change_password}" href="#">Change password</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <div class="text-primary">
                            <th:block th:text="#{navbar_welcome(${#authentication.principal.username})}">Welcome
                            </th:block>
                        </div>
                        <form
                                th:action="@{/users/logout}"
                                th:method="post">
                            <input class="btn btn-warning text-black btn-link nav-link logout-nav-btn" type="submit" th:value="#{navbar_logout}">
                        </form>
                    </div>
                </li>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item register-nav-btn">
                    <a class="btn btn-info nav-link text-black"
                       th:text="#{navbar_register}"
                       th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item login-nav-btn">
                    <a class="btn btn-warning nav-link text-black"
                       th:text="#{navbar_login}"
                       th:href="@{/users/login}">Login</a>
                </li>
            </th:block>
            <li class="nav-item">
                <a class="nav-link text-black"
                   th:text="#{navbar_contact_us}"
                   th:href="@{/contact-us}">Contacts us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black"
                   th:text="#{navbar_about_us}"
                   th:href="@{/about-us}">About us</a>
            </li>
            <li class="nav-item">
                <form th:method="get">
                    <label class="text-black" th:text="#{navbar_language}" for="lang"></label>
                    <select
                            onchange="this.form.submit()"
                            id="lang"
                            name="lang">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>