<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container d-flex flex-column justify-content-center align-items-center">
<!--    <h4>UUUUPS!!!! The site that you are looking for is forbbiden!</h4>-->
    <a th:href="@{/index}">
    <img class="forbidden-img" src="/images/403Forbidden.png">
    </a>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
