body {
    background-image: url('/images/wp1879442.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.navbar .logo {
    max-height: 50px;
    padding-right: 25px;
}

.container, .container-fluid {
    padding-top: 90px;
}

.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.brand-section {
    /*background-image: linear-gradient(to bottom right, rgba(231, 209, 74, 0.9), rgba(255, 255, 255, 0.9));*/
    border-radius: 10px;
}

td, th {
    padding: 3px 8px;
}

.card.offer, .product-details .list-group-item {
    border-radius: 1rem;
    max-width: 25rem;
    /*background: transparent;*/
    /*background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));*/
}

.card-img-top-wrapper {
    height: 150px;
    overflow: hidden;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding: 10px 30px;
    border-radius: 20px;
}

.field-error {
    background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
    color: white;
}

.alert {
    padding: 0.25rem 1rem;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
}

.checkout-btn {
    display: flex;
    justify-content: space-between;
}

.product-details {
    color: black;
    /*text-decoration: none;*/
    margin-top: 10px;
}

.card-img-top {
    padding: 1rem;
}

.pagination {
    padding: 0 5px;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

select:required {
    animation: shake 0.2s ease-in-out 0s 2;
    /*box-shadow: 0 0 0.6rem #ff0000;*/
}

/*input:required {*/
/*    animation: shake 0.2s ease-in-out 0s 2;*/
/*    !*box-shadow: 0 0 0.6rem #ff0000;*!*/
/*}*/
input.must-fill {
    animation: shake 0.2s ease-in-out 0s 2;
    /*box-shadow: 0 0 0.6rem #ff0000;*/
}

textarea:required {
    animation: shake 0.2s ease-in-out 0s 2;
    /*box-shadow: 0 0 0.6rem #ff0000;*/
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgb(120 224 239 / 80%), rgb(250 223 109 / 80%));
}

.order-container {
    background-image: linear-gradient(to bottom right, rgb(120 224 239 / 80%), rgb(250 223 109 / 80%));
    border-radius: 3rem;
    padding: 3rem;
}
.order-details-container {
    background-image: linear-gradient(to bottom right, rgba(199, 222, 239, 0.87), rgba(173, 224, 139, 0.74));
    /*background-color: #c8e1fa;*/
    border-radius: 1rem;
    padding: 3rem;
    /*box-shadow: 10px 10px 5px 12px lightblue;*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
}

.checkout-image {
    max-width: 2rem;
}

.order-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.checkout-items {
    overflow: auto;
    max-height: 13rem;
}

.profile-box {
    width: 20rem;
    height: 31rem;
    background-image: linear-gradient(to bottom right, rgba(184, 245, 253, 0.8), rgba(248, 232, 175, 0.8));
    /*background: aliceblue;*/
    padding-top: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.orders-table {
    background: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
}
/*.orders-table td {*/
/*    margin-top: 40px;*/
/*}*/
.navbar-nav .nav-link {
    padding: 5px 10px;
}
.place-order-btn {
    background-color: #8aff4b;
}
/*.invalid {*/
/*    border-color: red;*/
/*}*/
.order-image {
    width: 100px;
}
.order-items {
    overflow: auto;
    max-height: 22rem;
}
.about-us-final {
    color: rgb(39, 28, 193);
}
.send-message-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    /*border: none;*/
    cursor: pointer;
    border-radius: 10px;
    width: 15rem;
    margin-top: 3rem;
}

.send-message-btn:hover {
    background-color: #45a049;
}
.contact-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.contact-container {
    max-width: 40rem;
    margin: 0 auto;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-form-group {
    margin-bottom: 15px;
}

.contact-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.add-to-cart {
    font-size: 14px;
    background-color: rgba(80, 211, 14, 0.8);
    border-color: transparent;
}
.view-details {
    font-size: 14px;
    background-color: rgba(255, 152, 76, 0.8);
    border-color: transparent;
}
.register-btn {
    background-color: #0dcaf0;
    border-color: transparent;
}
.login-btn {
    background-color: #FFCA2C;
    border-color: transparent;
    width: 20rem;
}
.forbidden-img {
    max-width: 50rem;
    border-radius: 10rem;
}
[name="query"] {
    width: 20rem;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.maintenance-div {
    padding-top: 10px;
}
