<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5 mt-5 ">
        <h2 class="heading-section" th:text="#{about_us}">About Us</h2>

        <h4 th:text="#{about_us_welcome}">Welcome to Perfume Shop</h4>
        <p th:text="#{about_us_welcome_text}">
        At Perfume Shop, we believe in the power of scent to evoke emotions,
        create memories, and enhance the everyday moments of life.
        Our passion for perfumes goes beyond the bottles.
        It's about curating an olfactory experience that resonates with your unique style and personality.
        </p>
        <h4 th:text="#{about_us_our_story}">Our Story:</h4>
        <p th:text="#{about_us_our_story_text}">
        Founded with a love for exquisite fragrances,
        Perfume Shop has blossomed into a haven for perfume enthusiasts.
        Our journey began with the vision to bring the world's finest scents to your doorstep,
        curated with care and an unwavering commitment to quality.
        </p>
        <h4 th:text="#{about_us_curated_collection}">Curated Collection:</h4>
        <p th:text="#{about_us_curated_collection_text}">
        Step into our world of scents and discover a meticulously curated collection of perfumes from
        renowned global brands and hidden gems waiting to be explored. Whether you're seeking a signature
        fragrance or a thoughtful gift, our diverse range caters to every taste and occasion.
        </p>
        <h4 th:text="#{about_us_expert_guidance}">Expert Guidance:</h4>
        <p th:text="#{about_us_expert_guidance_text}">
        Choosing the perfect fragrance can be a personal and intimate experience.
        That's why our knowledgeable team is here to guide you through our collection,
        offering insights and recommendations to help you find a scent that resonates with your individuality.
        </p>
        <h4 th:text="#{about_us_quality_assurance}">Quality Assurance:</h4>
        <p th:text="#{about_us_quality_assurance_text}">
        We understand the importance of authenticity and quality.
        All our products are sourced directly from reputable manufacturers,
        ensuring that each bottle carries the essence of the original fragrance,
        making your purchase an investment in luxury.
        </p>
        <h4 th:text="#{about_us_community_and_connection}">Community and Connection:</h4>
        <p th:text="#{about_us_community_and_connection_text}">
        Perfume Shop is more than just a store.
        It's a community of fragrance enthusiasts who appreciate the artistry
        and emotion that a well-crafted scent can evoke. Join us in celebrating
        the world of perfumery through events, workshops, and shared experiences.
        </p>
        <h4 th:text="#{about_us_our_commitment}">Our Commitment:</h4>
        <p th:text="#{about_us_our_commitment_text}">
        As stewards of the fragrance realm, we are committed to creating
        a delightful and memorable shopping experience for our valued customers.
        From the moment you explore our collection to the lingering scent on your skin,
        our goal is to make every interaction with Perfume Shop a fragrant journey.
        </p>
        <h5 th:text="#{about_us_thank_you}">Thank you for being a part of our story. We invite you to immerse yourself in the
        enchanting world of perfumes at Perfume Shop.</h5>
        <h3 class="text-primary" th:text="#{about_us_blue_text}">Indulge. Explore. Experience.</h3>
        <h3 class="about-us-final" th:text="#{about_us_purple_text}">Perfume Shop - Where Every Scent Tells a Story.</h3>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
