<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

<div class="container-fluid">
    <h5 class="text-center text-black mt-5">
        <span sec:authorize="isAuthenticated()"
              th:text="#{index_welcome(${#authentication.principal.fullName})}">
        </span>

        <span sec:authorize="!isAuthenticated()"
              th:text="#{index_welcome('Guest')}">
        </span>
    </h5>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
