<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div th:if="${success}" class="text-center alert-success alert">
                <p th:text="${success}"></p>
            </div>
            <div class="table-main table-responsive">
                <table class="table orders-table">
                    <thead>
                    <tr class="fw-bold">
                        <th class="user-email" th:text="#{orders_order_user_email}">User Email</th>
                        <th class="order-number" th:text="#{orders_order_number}">Order Number</th>
                        <th class="order-date" th:text="#{orders_order_date}">Order Date</th>
                        <th th:text="#{orders_estimated_delivery}">Estimated Delivery Date</th>
                        <th class="price-pr" th:text="#{orders_order_status}">Order Status</th>
                        <th th:text="#{orders_order_total_price}">Total Price</th>
                        <th class="total-pr" th:text="#{orders_order_payment_method}">Payment Method</th>
                        <th th:text="#{orders_order_change_status}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td class="user-email">
                            <span th:text="${order.getCustomer().email}"></span>
                        </td>
                        <td class="order-number fw-bold">
                            <a th:href="@{/order-details/{id}(id=${order.id})}" th:text="|#907732${order.getId()}|" title="View Order Details"></a>
                        </td>
                        <td class="order-date text-blue">
                            <b><span th:text="${#dates.format(order.createdOn, 'dd-MM-yyyy')}"></span></b>
                        </td>
                        <td class="name-pr">
                            <span th:if="${order.shipped != null}" th:text="#{orders_estimated_delivery_text}">
                            </span>
                            <a th:if="${order.shipped == null}"><p>Pending</p></a>
                        </td>
                        <td class="price-pr">
<!--                            <p th:text="${order.status}"></p>-->
                            <p th:if="${order.status.name() == 'CANCELLED'}" class="text-danger">CANCELLED</p>
                            <p th:if="${order.status.name() == 'SHIPPED'}" class="text-success">SHIPPED</p>
                            <p th:if="${order.status.name() == 'PROCESSING'}" class="text-black">PROCESSING</p>
                        </td>
                        <td class="total-pr">
                            <p th:text="|€${order.totalPrice}|" style="color: green"></p>
                        </td>
                        <td class="total-pr" style="color: black">
                            <span th:text="${order.paymentMethod}"></span>
                        </td>
                        <form>

                        </form>
                        <td class="d-flex gap-1">
                            <form th:method="POST"
                                  th:action="@{/ship-order}">
                                <input type="hidden" name="id" th:value="${order.id}">
                                <button sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')"
                                        th:if="${order.status.name() != 'SHIPPED' and order.status.name() != 'CANCELLED'}"
                                        type="submit" name="action" value="ship"
                                        title="Order shipped"
                                        class="btn btn-sm btn-success">Shipped
                                </button>
                            </form>
                            <form th:method="POST"
                                  th:action="@{/cancel-customer-order}">
                                <input type="hidden" name="id" th:value="${order.id}">
                                <button th:if="${order.status.name() != 'SHIPPED' and order.status.name() != 'CANCELLED'}"
                                        sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')"
                                        type="submit" name="action" value="cancel"
                                        title="Cancel order"
                                        class="btn btn-sm btn-danger">Cancel
                                </button>
                            </form>
                        </td>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>


