<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US" class="supernova"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="alternate" type="application/json+oembed"
          href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F233162266185355"
          title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
          href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F233162266185355"
          title="oEmbed Form">
    <meta property="og:title" content="Finishing order">
    <meta property="og:url" content="https://eu.jotform.com/233162266185355">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png"/>
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <link rel="apple-touch-icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <title>Perfume Shop</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <!--    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        var favicon = document.querySelector('link[rel="shortcut icon"]');
        window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (favicon && window.isDarkMode) {
            favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
        }
    </script>
    <link rel="canonical" href="https://eu.jotform.com/233162266185355"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>Finishing order</title>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/form-common.css?v=e311ab0
"/>
    <style type="text/css">@media print {
        * {
            -webkit-print-color-adjust: exact !important;
            color-adjust: exact !important;
        }

        .form-section {
            display: inline !important
        }

        .form-pagebreak {
            display: none !important
        }

        .form-section-closed {
            height: auto !important
        }

        .page-section {
            position: initial !important
        }
    }</style>
    <link type="text/css" rel="stylesheet"
          href="https://cdn02.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.47459&themeRevisionID=63e6805f64383509e31513f4"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.47459"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.47459"/>
    <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/stylebuilder/donationBox.css?v=3.3.47459">
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */
        /*PREFERENCES STYLE*/
        .form-all {
            font-family: Inter, sans-serif;
        }

        .form-label.form-label-auto {

            display: block;
            float: none;
            text-align: left;
            width: 100%;

        }

        .form-line {
            margin-top: 12px;
            margin-bottom: 12px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-all {
            max-width: 752px;
            width: 100%;
        }

        .form-label.form-label-left,
        .form-label.form-label-right,
        .form-label.form-label-left.form-label-auto,
        .form-label.form-label-right.form-label-auto {
            width: 230px;
        }

        .form-all {
            font-size: 16px
        }

        .supernova .form-all, .form-all {
            background-color: #fff;
        }

        .form-all {
            color: #2C3345;
        }

        .form-header-group .form-header {
            color: #2C3345;
        }

        .form-header-group .form-subHeader {
            color: #2C3345;
        }

        .form-label-top,
        .form-label-left,
        .form-label-right,
        .form-html,
        .form-checkbox-item label,
        .form-radio-item label,
        span.FITB .qb-checkbox-label,
        span.FITB .qb-radiobox-label,
        span.FITB .form-radio label,
        span.FITB .form-checkbox label,
        [data-blotid][data-type=checkbox] [data-labelid],
        [data-blotid][data-type=radiobox] [data-labelid],
        span.FITB-inptCont[data-type=checkbox] label,
        span.FITB-inptCont[data-type=radiobox] label {
            color: #2C3345;
        }

        .form-sub-label {
            color: #464d5f;
        }

        .supernova {
            background-color: #ecedf3;
        }

        .supernova body {
            background: transparent;
        }

        .form-textbox,
        .form-textarea,
        .form-dropdown,
        .form-radio-other-input,
        .form-checkbox-other-input,
        .form-captcha input,
        .form-spinner input {
            background-color: #fff;
        }


        .supernova {
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center top;
        }

        .supernova, #stage {
            background-image: url("https://images.unsplash.com/photo-1595425959632-34f2822322ce?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        }

        .form-all {
            /*background-image: url("//www.jotform.com/images/styles/style2_bg.jpg");*/
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }

        /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
        /* Injected CSS Code */
    </style>

    <script src="https://cdn03.jotfor.ms/static/prototype.forms.js?3.3.47459" type="text/javascript"></script>
    <script src="https://cdn01.jotfor.ms/static/jotform.forms.js?3.3.47459" type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms//js/punycode-1.4.1.min.js"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.47459" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.47459"
            type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.47459"
            type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.47459" type="text/javascript"></script>
    <script src="https://cdn01.jotfor.ms/s/umd/f95093b6663/for-widgets-server.js?v=3.3.47459"
            type="text/javascript"></script>
<!--    <script src="https://cdn01.jotfor.ms/s/umd/f95093b6663/for-form-branding-footer.js?v=3.3.47459"-->
<!--            type="text/javascript" defer></script>-->
    <script type="text/javascript">    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.singleProduct = false;
    JotForm.newPaymentUIForNewCreatedForms = false;
    JotForm.texts = {
        "confirmEmail": "E-mail does not match",
        "pleaseWait": "Please wait...",
        "validateEmail": "You need to validate this e-mail",
        "confirmClearForm": "Are you sure you want to clear the form",
        "lessThan": "Your score should be less than or equal to",
        "incompleteFields": "There are incomplete required fields. Please complete them.",
        "required": "This field is required.",
        "requireOne": "At least one field required.",
        "requireEveryRow": "Every row is required.",
        "requireEveryCell": "Every cell is required.",
        "email": "Enter a valid e-mail address",
        "alphabetic": "This field can only contain letters",
        "numeric": "This field can only contain numeric values",
        "alphanumeric": "This field can only contain letters and numbers.",
        "cyrillic": "This field can only contain cyrillic characters",
        "url": "This field can only contain a valid URL",
        "currency": "This field can only contain currency values.",
        "fillMask": "Field value must fill mask.",
        "uploadExtensions": "You can only upload following files:",
        "noUploadExtensions": "File has no extension file type (e.g. .txt, .png, .jpeg)",
        "uploadFilesize": "File size cannot be bigger than:",
        "uploadFilesizemin": "File size cannot be smaller than:",
        "gradingScoreError": "Score total should only be less than or equal to",
        "inputCarretErrorA": "Input should not be less than the minimum value:",
        "inputCarretErrorB": "Input should not be greater than the maximum value:",
        "maxDigitsError": "The maximum digits allowed is",
        "minCharactersError": "The number of characters should not be less than the minimum value:",
        "maxCharactersError": "The number of characters should not be more than the maximum value:",
        "freeEmailError": "Free email accounts are not allowed",
        "minSelectionsError": "The minimum required number of selections is ",
        "maxSelectionsError": "The maximum number of selections allowed is ",
        "pastDatesDisallowed": "Date must not be in the past.",
        "dateLimited": "This date is unavailable.",
        "dateInvalid": "This date is not valid. The date format is {format}",
        "dateInvalidSeparate": "This date is not valid. Enter a valid {element}.",
        "ageVerificationError": "You must be older than {minAge} years old to submit this form.",
        "multipleFileUploads_typeError": "{file} has invalid extension. Only {extensions} are allowed.",
        "multipleFileUploads_sizeError": "{file} is too large, maximum file size is {sizeLimit}.",
        "multipleFileUploads_minSizeError": "{file} is too small, minimum file size is {minSizeLimit}.",
        "multipleFileUploads_emptyError": "{file} is empty, please select files again without it.",
        "multipleFileUploads_uploadFailed": "File upload failed, please remove it and upload the file again.",
        "multipleFileUploads_onLeave": "The files are being uploaded, if you leave now the upload will be cancelled.",
        "multipleFileUploads_fileLimitError": "Only {fileLimit} file uploads allowed.",
        "dragAndDropFilesHere_infoMessage": "Drag and drop files here",
        "chooseAFile_infoMessage": "Choose a file",
        "maxFileSize_infoMessage": "Max. file size",
        "generalError": "There are errors on the form. Please fix them before continuing.",
        "generalPageError": "There are errors on this page. Please fix them before continuing.",
        "wordLimitError": "Too many words. The limit is",
        "wordMinLimitError": "Too few words.  The minimum is",
        "characterLimitError": "Too many Characters.  The limit is",
        "characterMinLimitError": "Too few characters. The minimum is",
        "ccInvalidNumber": "Credit Card Number is invalid.",
        "ccInvalidCVC": "CVC number is invalid.",
        "ccInvalidExpireDate": "Expire date is invalid.",
        "ccInvalidExpireMonth": "Expiration month is invalid.",
        "ccInvalidExpireYear": "Expiration year is invalid.",
        "ccMissingDetails": "Please fill up the credit card details.",
        "ccMissingProduct": "Please select at least one product.",
        "ccMissingDonation": "Please enter numeric values for donation amount.",
        "disallowDecimals": "Please enter a whole number.",
        "restrictedDomain": "This domain is not allowed",
        "ccDonationMinLimitError": "Minimum amount is {minAmount} {currency}",
        "requiredLegend": "All fields marked with * are required and must be filled.",
        "geoPermissionTitle": "Permission Denied",
        "geoPermissionDesc": "Check your browser's privacy settings.",
        "geoNotAvailableTitle": "Position Unavailable",
        "geoNotAvailableDesc": "Location provider not available. Please enter the address manually.",
        "geoTimeoutTitle": "Timeout",
        "geoTimeoutDesc": "Please check your internet connection and try again.",
        "appointmentSelected": "You’ve selected {time} on {date}",
        "noSlotsAvailable": "No slots available",
        "slotUnavailable": "{time} on {date} has been selected is unavailable. Please select another slot.",
        "multipleError": "There are {count} errors on this page. Please correct them before moving on.",
        "oneError": "There is {count} error on this page. Please correct it before moving on.",
        "doneMessage": "Well done! All errors are fixed.",
        "doneButton": "Done",
        "reviewSubmitText": "Review and Submit",
        "nextButtonText": "Next",
        "prevButtonText": "Previous",
        "seeErrorsButton": "See Errors",
        "notEnoughStock": "Not enough stock for the current selection",
        "notEnoughStock_remainedItems": "Not enough stock for the current selection ({count} items left)",
        "soldOut": "Sold Out",
        "justSoldOut": "Just Sold Out",
        "selectionSoldOut": "Selection Sold Out",
        "subProductItemsLeft": "({count} items left)",
        "startButtonText": "START",
        "submitButtonText": "Submit",
        "submissionLimit": "Sorry! Only one entry is allowed. Multiple submissions are disabled for this form.",
        "reviewBackText": "Back to Form",
        "seeAllText": "See All",
        "progressMiddleText": "of",
        "fieldError": "field has an error.",
        "error": "Error"
    };
    JotForm.newPaymentUI = true;
    JotForm.clearFieldOnHide = "disable";
    JotForm.submitError = "jumpToFirstError";
    // window.addEventListener('DOMContentLoaded', function () {
    //     window.brandingFooter.init({
    //         "formID": 233162266185355,
    //         "campaign": "powered_by_jotform_le",
    //         "isCardForm": false,
    //         "isLegacyForm": true
    //     })
    // });
    try {
        var isEUDomain = /(?:eu.jotform)|(jotformeu.com)/.test(window.location.host);
        var isHipaaDomain = /(?:hipaa.jotform)/.test(window.location.host);
        var isEnterprise = JotForm.enterprise !== 'undefined' && JotForm.enterprise;
        var formIdModTen = 5;
        if (!isEUDomain && !isHipaaDomain && !isEnterprise && formIdModTen === 4) {
            var sesApiUrl = /jotform.pro/.test(window.location.host) ? '/API' : 'https://api.jotform.com';

            function sendOpenId(uuid, eventType) {
                fetch(sesApiUrl + '/form/233162266185355/event/' + uuid + '/' + eventType, {method: 'POST'})
                    .then(function () {
                    })
                    .catch(function (sendOpenIdError) {
                        console.log(sendOpenIdError)
                    });
            }

            var formOpenId = crypto.getRandomValues(new BigUint64Array(1)).toString();
            sendOpenId = sendOpenId.bind(this, formOpenId);

            function sendOpenIdOnSubmit() {
                var currentForm = $('233162266185355');
                currentForm.addEventListener('submit', function () {
                    sendOpenId('submitClicked');
                });
                var openIdInput = currentForm.querySelector('[name="formOpenId"]');
                if (!openIdInput) {
                    openIdInput = document.createElement('input');
                    openIdInput.setAttribute('type', 'hidden');
                    openIdInput.setAttribute('name', 'formOpenId');
                    currentForm.appendChild(openIdInput);
                }
                openIdInput.value = formOpenId;
            }

            sendOpenId('view');
            if (document.readyState == 'complete' || (this.jsForm && (document.readyState === undefined || document.readyState === 'interactive'))) {
                sendOpenIdOnSubmit();
            } else {
                document.ready(sendOpenIdOnSubmit);
            }
        }
    } catch (openIdBlockError) {
        console.log(openIdBlockError);
    }

    JotForm.init(function () {
        /*INIT-START*/
        JotForm.setPhoneMaskingValidator('input_30_full', '08XXXXXXXX');
        if (window.JotForm && JotForm.accessible) $('input_31').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_34').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_11').setAttribute('tabindex', 0);
        JotForm.initCaptcha('input_21');
        $('input_21_reload').observe('click', function () {
            JotForm.reloadCaptcha('input_21')
        })
        /*INIT-END*/
    });

    setTimeout(function () {
        JotForm.paymentExtrasOnTheFly([null, {
            "name": "clickTo",
            "qid": "1",
            "text": "Finishing order",
            "type": "control_head"
        }, null, null, null, null, null, null, null, null, null, {
            "name": "notes11",
            "qid": "11",
            "subLabel": "suggestions\u002Fcomments",
            "text": "Additional Notes",
            "type": "control_textarea"
        }, null, {
            "name": "submitForm13",
            "qid": "13",
            "text": "Submit Order",
            "type": "control_button"
        }, null, null, null, null, null, null, null, {
            "name": "enterThe21",
            "qid": "21",
            "text": "Enter the message as it's shown",
            "type": "control_captcha"
        }, null, null, null, null, null, {
            "name": "name",
            "qid": "27",
            "text": "Name",
            "type": "control_fullname"
        }, {
            "name": "shippingAddress",
            "qid": "28",
            "text": "Shipping Address",
            "type": "control_address"
        }, {
            "name": "email",
            "qid": "29",
            "subLabel": "example@example.com",
            "text": "Email",
            "type": "control_email"
        }, {"name": "phoneNumber", "qid": "30", "text": "Phone Number", "type": "control_phone"}, {
            "name": "modeOf",
            "qid": "31",
            "text": "Payment type",
            "type": "control_textbox"
        }, null, {
            "name": "typeA",
            "qid": "33",
            "text": "Terms and Conditions",
            "type": "control_widget"
        }, {"name": "courier", "qid": "34", "text": "Courier", "type": "control_textbox"}]);
    }, 20);
    </script>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();"
      action="https://eu-submit.jotform.com/submit/233162266185355" method="post" name="form_233162266185355"
      id="233162266185355" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID"
                                                                           value="233162266185355"/><input type="hidden"
                                                                                                           id="JWTContainer"
                                                                                                           value=""/><input
        type="hidden" id="cardinalOrderNumber" value=""/><input type="hidden" id="jsExecutionTracker"
                                                                name="jsExecutionTracker"
                                                                value="build-date-1699870977301"/><input type="hidden"
                                                                                                         id="submitSource"
                                                                                                         name="submitSource"
                                                                                                         value="unknown"/><input
        type="hidden" id="buildDate" name="buildDate" value="1699870977301"/>
    <div role="main" class="form-all bg-white">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">Finishing order</h1>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_fullname" id="id_27"><label
                    class="form-label form-label-top form-label-auto" id="label_27" for="first_27" aria-hidden="false">
                Name </label>
                <div id="cid_27" class="form-input-wide" data-layout="full">
                    <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"
                                                         data-input-type="first"><input type="text" id="first_27"
                                                                                        name="q27_name[first]"
                                                                                        class="form-textbox"
                                                                                        data-defaultvalue="" size="10"
                                                                                        data-component="first"
                                                                                        aria-labelledby="label_27 sublabel_27_first"
                                                                                        value=""/><label
                            class="form-sub-label" for="first_27" id="sublabel_27_first" style="min-height:13px"
                            aria-hidden="false">First Name</label></span><span class="form-sub-label-container"
                                                                               style="vertical-align:top"
                                                                               data-input-type="last"><input type="text"
                                                                                                             id="last_27"
                                                                                                             name="q27_name[last]"
                                                                                                             class="form-textbox"
                                                                                                             data-defaultvalue=""
                                                                                                             size="15"
                                                                                                             data-component="last"
                                                                                                             aria-labelledby="label_27 sublabel_27_last"
                                                                                                             th:value=""/><label
                            class="form-sub-label" for="last_27" id="sublabel_27_last" style="min-height:13px"
                            aria-hidden="false">Last Name</label></span></div>
                </div>
            </li>
            <li class="form-line" data-type="control_address" id="id_28"
                data-compound-hint=",,,,Please Select,,Please Select,"><label
                    class="form-label form-label-top form-label-auto" id="label_28" for="input_28_addr_line1"
                    aria-hidden="false"> Shipping Address </label>
                <div id="cid_28" class="form-input-wide" data-layout="full">
                    <div summary="" class="form-address-table jsTest-addressField">
                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                class="form-address-line form-address-street-line jsTest-address-lineField"><span
                                class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                                                                                   id="input_28_addr_line1"
                                                                                                   name="q28_shippingAddress[addr_line1]"
                                                                                                   class="form-textbox form-address-line"
                                                                                                   data-defaultvalue=""
                                                                                                   data-component="address_line_1"
                                                                                                   aria-labelledby="label_28 sublabel_28_addr_line1"
                                                                                                   required=""
                                                                                                   value=""/><label
                                class="form-sub-label" for="input_28_addr_line1" id="sublabel_28_addr_line1"
                                style="min-height:13px" aria-hidden="false">Street Address</label></span></span></div>
                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                class="form-address-line form-address-street-line jsTest-address-lineField"><span
                                class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                                                                                   id="input_28_addr_line2"
                                                                                                   name="q28_shippingAddress[addr_line2]"
                                                                                                   class="form-textbox form-address-line"
                                                                                                   data-defaultvalue=""
                                                                                                   data-component="address_line_2"
                                                                                                   aria-labelledby="label_28 sublabel_28_addr_line2"
                                                                                                   value=""/><label
                                class="form-sub-label" for="input_28_addr_line2" id="sublabel_28_addr_line2"
                                style="min-height:13px" aria-hidden="false">Street Address Line 2</label></span></span>
                        </div>
                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                class="form-address-line form-address-city-line jsTest-address-lineField "><span
                                class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                                                                                   id="input_28_city"
                                                                                                   name="q28_shippingAddress[city]"
                                                                                                   class="form-textbox form-address-city"
                                                                                                   data-defaultvalue=""
                                                                                                   data-component="city"
                                                                                                   aria-labelledby="label_28 sublabel_28_city"
                                                                                                   required=""
                                                                                                   value=""/><label
                                class="form-sub-label" for="input_28_city" id="sublabel_28_city" style="min-height:13px"
                                aria-hidden="false">City</label></span></span><span
                                class="form-address-line form-address-state-line jsTest-address-lineField "><span
                                class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                                                                                   id="input_28_state"
                                                                                                   name="q28_shippingAddress[state]"
                                                                                                   class="form-textbox form-address-state"
                                                                                                   data-defaultvalue=""
                                                                                                   data-component="state"
                                                                                                   aria-labelledby="label_28 sublabel_28_state"
                                                                                                   required=""
                                                                                                   value=""/><label
                                class="form-sub-label" for="input_28_state" id="sublabel_28_state"
                                style="min-height:13px" aria-hidden="false">State / Province</label></span></span></div>
                        <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                class="form-address-line form-address-zip-line jsTest-address-lineField "><span
                                class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                                                                                   id="input_28_postal"
                                                                                                   name="q28_shippingAddress[postal]"
                                                                                                   class="form-textbox form-address-postal"
                                                                                                   data-defaultvalue=""
                                                                                                   data-component="zip"
                                                                                                   aria-labelledby="label_28 sublabel_28_postal"
                                                                                                   required=""
                                                                                                   value=""/><label
                                class="form-sub-label" for="input_28_postal" id="sublabel_28_postal"
                                style="min-height:13px" aria-hidden="false">Postal / Zip Code</label></span></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-1" data-type="control_email" id="id_29"><label
                    class="form-label form-label-top" id="label_29" for="input_29" aria-hidden="false"> Email </label>
                <div id="cid_29" class="form-input-wide" data-layout="half"><span class="form-sub-label-container"
                                                                                  style="vertical-align:top"><input
                        type="email" id="input_29" name="q29_email" class="form-textbox validate[Email]"
                        data-defaultvalue="" style="width:310px" size="310" data-component="email"
                        aria-labelledby="label_29 sublabel_input_29" value=""/><label class="form-sub-label"
                                                                                      for="input_29"
                                                                                      id="sublabel_input_29"
                                                                                      style="min-height:13px"
                                                                                      aria-hidden="false">example@example.com</label></span>
                </div>
            </li>
            <li class="form-line form-line-column form-col-2" data-type="control_phone" id="id_30"><label
                    class="form-label form-label-top" id="label_30" for="input_30_full"> Phone Number </label>
                <div id="cid_30" class="form-input-wide" data-layout="half"><span class="form-sub-label-container"
                                                                                  style="vertical-align:top"><input
                        type="tel" id="input_30_full" name="q30_phoneNumber[full]" data-type="mask-number"
                        class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue=""
                        style="width:310px" data-masked="true" placeholder="08XXXXXXXX" data-component="phone"
                        aria-labelledby="label_30 sublabel_30_masked" value=""/><label class="form-sub-label"
                                                                                       for="input_30_full"
                                                                                       id="sublabel_30_masked"
                                                                                       style="min-height:13px"
                                                                                       aria-hidden="false">Please enter a valid phone number.</label></span>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_31"><label
                    class="form-label form-label-top form-label-auto" id="label_31" for="input_31" aria-hidden="false">
                Payment type </label>
                <div id="cid_31" class="form-input-wide" data-layout="half"><input type="text" id="input_31"
                                                                                   name="q31_modeOf"
                                                                                   data-type="input-textbox"
                                                                                   class="form-textbox"
                                                                                   data-defaultvalue=""
                                                                                   style="width:310px" size="310"
                                                                                   data-component="textbox"
                                                                                   aria-labelledby="label_31" value=""/>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_34"><label
                    class="form-label form-label-top form-label-auto" id="label_34" for="input_34" aria-hidden="false">
                Courier </label>
                <div id="cid_34" class="form-input-wide" data-layout="half"><input type="text" id="input_34"
                                                                                   name="q34_courier"
                                                                                   data-type="input-textbox"
                                                                                   class="form-textbox"
                                                                                   data-defaultvalue=""
                                                                                   style="width:310px" size="310"
                                                                                   data-component="textbox"
                                                                                   aria-labelledby="label_34" value=""/>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_11"><label
                    class="form-label form-label-top form-label-auto" id="label_11" for="input_11" aria-hidden="false">
                Additional Notes </label>
                <div id="cid_11" class="form-input-wide" data-layout="full"><span class="form-sub-label-container"
                                                                                  style="vertical-align:top"><textarea
                        id="input_11" class="form-textarea" name="q11_notes11" style="width:648px;height:163px"
                        data-component="textarea" aria-labelledby="label_11 sublabel_input_11"></textarea><label
                        class="form-sub-label" for="input_11" id="sublabel_input_11" style="min-height:13px"
                        aria-hidden="false">suggestions/comments</label></span></div>
            </li>
            <li class="form-line jf-required" data-type="control_widget" id="id_33">
                <div id="cid_33" class="form-input-wide termsAndConditionsV2 jf-required" data-layout="full">
                    <div data-widget-name="Terms &amp; Conditions" style="width:100%;text-align:Left;overflow-x:auto"
                         data-component="widget-field">
                        <iframe data-client-id="52948fb29322cd302b00000c" title="Terms &amp; Conditions" frameBorder="0"
                                scrolling="no" allowtransparency="true"
                                allow="geolocation; microphone; camera; autoplay; encrypted-media; fullscreen"
                                data-type="iframe" class="custom-field-frame" id="customFieldFrame_33" src=""
                                style="max-width:580px;border:none;width:100%;height:50px" data-width="580"
                                data-height="50"></iframe>
                        <div class="widget-inputs-wrapper"><input type="hidden" id="input_33"
                                                                  class="form-hidden form-widget widget-required "
                                                                  name="q33_typeA" value=""/><input type="hidden"
                                                                                                    id="widget_settings_33"
                                                                                                    class="form-hidden form-widget-settings"
                                                                                                    value="%5B%7B%22name%22%3A%22termsText%22%2C%22value%22%3A%22I%20agree%20to%20%7Bterms%20%26%20conditions%7D.%22%7D%2C%7B%22name%22%3A%22termsLink%22%2C%22value%22%3A%22www.example.com%22%7D%2C%7B%22name%22%3A%22theme%22%2C%22value%22%3A%22default%22%7D%2C%7B%22name%22%3A%22acceptedText%22%2C%22value%22%3A%22Accepted%22%7D%5D"
                                                                                                    data-version="2"/>
                        </div>
                        <script type="text/javascript">
                            setTimeout(function () {
                                var _cFieldFrame = document.getElementById("customFieldFrame_33");
                                if (_cFieldFrame) {
                                    _cFieldFrame.onload = function () {
                                        if (typeof widgetFrameLoaded !== 'undefined') {
                                            widgetFrameLoaded(33,
                                                {
                                                    "formID": 233162266185355
                                                })
                                        }
                                    };
                                    _cFieldFrame.src = "//app-widgets.jotform.io/termsConditions/?qid=33&isOpenedInPortal=undefined&ref=" +
                                        encodeURIComponent(window.location.protocol + "//" + window.location.host) + '&ndt=1' + '' + '' +
                                        '&injectCSS=' + encodeURIComponent(window.location.search.indexOf("ndt=1") > -1);
                                    _cFieldFrame.addClassName("custom-field-frame-rendered");
                                }
                            }, 0);
                        </script>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_captcha" id="id_21"><label
                    class="form-label form-label-top form-label-auto" id="label_21" for="input_21" aria-hidden="false">
                Enter the message as it's shown<span class="form-required">*</span> </label>
                <div id="cid_21" class="form-input-wide jf-required" data-layout="full">
                    <div class="form-captcha" data-component="captcha"><label for="input_21"><img
                            alt="Captcha - Reload if not displayed" id="input_21_captcha" class="form-captcha-image"
                            style="background:url(https://cdn.jotfor.ms/images/loader-big.gif) no-repeat center"
                            src="https://cdn.jotfor.ms/images/blank.gif" width="150" height="41"/></label>
                        <div style="white-space:nowrap"><input type="text" id="input_21"
                                                               class="form-textbox validate[required]" name="captcha"
                                                               style="width:130px" required=""/><img
                                src="https://cdn.jotfor.ms/images/reload.png" alt="Reload"
                                style="cursor:pointer;vertical-align:middle" id="input_21_reload"/><input type="hidden"
                                                                                                          name="captcha_id"
                                                                                                          id="input_21_captcha_id"
                                                                                                          value="0"/>
                        </div>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_13">
                <div id="cid_13" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                        <button id="input_13" type="submit"
                                class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                                data-component="button" data-content="">Submit Order
                        </button>
                    </div>
                </div>
            </li>
            <li style="display:none">Should be Empty: <input type="text" name="website" value=""/></li>
        </ul>
    </div>
<!--    <script>-->
<!--        JotForm.showJotFormPowered = "new_footer";-->
<!--    </script>-->
<!--    <script>-->
<!--        JotForm.poweredByText = "Powered by Jotform";-->
<!--    </script>-->
<!--    <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="233162266185355"/>-->
<!--    <script type="text/javascript">-->
<!--        var all_spc = document.querySelectorAll("form[id='233162266185355'] .si" + "mple" + "_spc");-->
<!--        for (var i = 0; i < all_spc.length; i++) {-->
<!--            all_spc[i].value = "233162266185355-233162266185355";-->
<!--        }-->
<!--    </script>-->
</form>
<footer th:replace="~{fragments/footer}"></footer>
<style>
    .formFooter {
        display: none;
    }
</style>
</body>
</html>
<script type="text/javascript">JotForm.ownerView = true;</script>
<script type="text/javascript">JotForm.forwardToEu = true;</script>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.47459"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.47459"></script>
<script type="text/javascript">JotForm.isNewSACL = true;</script>
