<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
<!--            <div th:if="${success}" class="text-center alert-success alert">-->
<!--                <p th:text="${success}"></p>-->
<!--            </div>-->
            <div class="table-main table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="order-date">Order Date</th>
                        <th>Delivery Date</th>
                        <th class="price-pr">Order Status</th>

                        <th class="quantity-box">Quantity</th>
                        <th>Total Price</th>
                        <th class="total-pr">Payment Method</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td class="order-date">
                            <span><b>[(${order.createdOn})]</b></span>
                        </td>
                        <td class="name-pr" >

                            <a th:if = "${order.accepted == null}"><p>Pending</p> </a>
                        </td>
                        <td class="price-pr">
                            <p th:text="${order.status}"></p>
                        </td>
                        <td class="quantity-box" th:text="${order.totalPrice}"> </td>
                        <td class="total-pr">
                            <p style="color: red">$ [(${order.totalPrice})]</p>
                        </td>
                        <td class="total-pr" style="color: black">
                            <span>[(${order.paymentMethod})]</span>
                        </td>
                        <td>
                            <a th:href="@{/cancel-order/(id = ${order.id})}" class="button-cancel">Cancel</a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')" th:href="@{/cancel-order/(id = ${order.id})}" class="button-cancel">Accept</a>
                        </td>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>


