<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<div class="cart-box-main">
    <div class="container order-container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-1">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                    <form class="needs-validation" novalidate th:object="${user}">

                        <div class="mb-1">
                            <label for="firstName">First name *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                                       readonly>
                            </div>
                            <label for="lastName">Last name *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                                       readonly>
                            </div>
                            <label for="email">Username *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{email}" id="email"
                                       readonly>
                            </div>
                        </div>
                        <div class="mb-1">
                            <label for="phone">Phone Number *</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phone"
                                   readonly>
                        </div>
                        <div class="mb-1">
                            <label for="address">Address *</label>
                            <input type="text" class="form-control"
                                   id="address" placeholder="Type an address for shipping" required>
                            <label for="address">City *</label>
                            <input type="text" class="form-control"
                                   id="city" placeholder="Type an city or town" required>
                        </div>
                        <select class="form-select" aria-label="Default select example" required>
                            <option selected>Select a courier</option>
                            <option value="Speedy">Speedy</option>
                            <option value="Econt">Econt</option>
                        </select>
                        <hr class="mb-2">
                        <div class="title"><span>Payment Method</span></div>
                        <div class="d-block my-2">
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" checked class="custom-control-input"
                                       required>
                                <label class="custom-control-label" for="debit">Cash</label>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <form th:action="@{/add-order}" method="post" th:object="${shoppingCart}">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3 class="mb-4">Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light checkout-items">
                                <div class="media mb-2 border-bottom" th:each="item : ${shoppingCart.getCartItems()}">
                                    <div class="media-body"><img class="checkout-image"
                                                                 th:src="${item.product.imageUrl}"></img>
                                        <a th:href="@{/products/details/{productId}(productId=${item.id})}"
                                           th:text="|${item.product.brand.getName().toString()} ${item.product.name}|"></a>
                                        <div class="small text-muted">Price: €[(${item.product.price})] <span
                                                class="mx-2">|</span> Qty: [(${item.quantity})] <span
                                                class="mx-2">|</span> Sub Total: €[(${item.product.price *
                                            item.quantity})]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h4 class="mt-4"><b>Your order</b></h4>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="font-weight-bold">Products</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6>Sub Total</h6>
                                <div class="ml-auto font-weight-bold" th:text="|€${shoppingCart.totalPrice}|"></div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex justify-content-between">
                                <h6>Shipping cost</h6>
                                <div class="ml-auto font-weight-bold">€7.99</div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total justify-content-between">
                                <h4>Total price</h4>
                                <div class="ml-auto h5" th:text="|€${shoppingCart.totalPrice + 7.99}|"></div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between shopping-box">
                        <button type="submit" class="ml-auto btn btn-info">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>