<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<div class="container">
    <h2 class="text-center text-white">Edit product</h2>
    <form   th:object="${editProductModel}"
            th:action="@{/products/edit/{id}(id = ${editProductModel.id})}"
            th:method="POST"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brand">Brand</label>

               <div>
                   <input type="text" id="brand"
                          name="brand"
                          th:field="*{brand}"
                          th:errorclass="is-invalid"
                          class="form-control">
               </div>
                <p class="invalid-feedback errors alert alert-danger">
                    Product brand is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="model">Model</label>
                <input id="model"
                       name="model"
                       th:field="*{model}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control"
                       placeholder="Model">
                <p class="invalid-feedback errors alert alert-danger">
                    Model is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="category">Category</label>
                <input
                        id="category"
                        name="category"
                        th:errorclass="is-invalid"
                        th:field="*{category}"
                        class="form-control">
                </input>
                <p class="invalid-feedback errors alert alert-danger">
                    Category type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="milliliters">Size</label>
                <input id="milliliters"
                        name="milliliters"
                        th:errorclass="is-invalid"
                        th:field="*{milliliters}"
                        class="form-control">
                </input>
                <p class="invalid-feedback errors alert alert-danger">
                    Perfume size is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="price" class="text-white font-weight-bold">Price</label>
            <input  th:field="*{price}"
                    name="price"
                    th:errorclass="is-invalid"
                    id="price" type="number" class="form-control"
                    placeholder="Suggested price"/>
            <p  class="invalid-feedback errors alert alert-danger">
                Price is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      name="description"
                      type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   name="imageUrl"
                   type="url" class="form-control"
                   placeholder="Put product image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Product image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Edit product"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
