<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>
<div class="container">
    <h2 class="text-center" th:text="#{products_upload}">Upload Product</h2>
    <form th:action="@{/products/add}"
          th:method="post"
          th:object="${addProductModel}"
          enctype="multipart/form-data"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-black font-weight-bold mt-2" for="brand" th:text="#{products_upload_brand}">Brand</label>
                <select id="brand"
                        name="brand"
                        th:errorclass="is-invalid"
                        class="form-control mt-2">
                    <option value="">- Select a brand -</option>
                        <option class="fw-bold" th:each="brand : ${brands}"
                                th:text="${brand.name}"
                                th:value="${brand.name}"
                                th:selected="${brand.name} == *{brand}">Brand>
                        </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Perfume brand is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-black font-weight-bold mt-2" for="name" th:text="#{products_upload_name}">Name</label>
                <input id="name"
                       name="name"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control mt-2"
                       th:placeholder="#{products_upload_name}"></input>
                <p class="invalid-feedback errors alert alert-danger">
                    Model is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-black font-weight-bold mt-2" for="category" th:text="#{products_upload_category}">Category</label>
                <select
                        id="category"
                        name="category"
                        th:errorclass="is-invalid"
                        class="form-control mt-2">
                    <option value="">- Select category type -</option>
                    <option th:each="c : ${T(com.app.perfumeshop.model.enums.CategoryNameEnum).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{category}">
                        Category type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Category type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-black font-weight-bold mt-2" for="milliliters" th:text="#{products_upload_size}">Size</label>
                <select id="milliliters"
                        name="milliliters"
                        th:errorclass="is-invalid"
                        class="form-control mt-2">
                    <option value="">- Select size -</option>
                    <option th:each="m : ${T(com.app.perfumeshop.model.enums.SizeEnum).values()}"
                            th:text="${m}"
                            th:value="${m}"
                            th:selected="${m} == *{milliliters}"> Size type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Product size is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="price" class="font-weight-bold mt-2" th:text="#{products_upload_price}">Price</label>
            <input  th:field="*{price}"
                    th:errorclass="is-invalid"
                    id="price" type="number" class="form-control mt-2" min="10"
                    th:placeholder="#{products_upload_price}"/>
            <p  class="invalid-feedback errors alert alert-danger">
                Price is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-black font-weight-bold mt-2" for="description" th:text="#{products_upload_description}">Description</label>
            <textarea id="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea" class="form-control mt-2" rows="3"
                      th:placeholder="#{products_upload_description}"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="text-black font-weight-bold mt-2" for="imageUrl">Image URL</label>-->
<!--            <input id="imageUrl"-->
<!--                   th:field="*{imageUrl}"-->
<!--                   th:errorclass="is-invalid"-->
<!--                   required-->
<!--                   type="url" class="form-control mt-2"-->
<!--                   placeholder="Put product image URL here">-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Product image URL is required.-->
<!--            </p>-->
<!--        </div>-->
        <div class="form-group mt-3">
            <p th:text="#{products_upload_photo}">Product photo</p>
            <div class="col-md-4 d-flex">
                <div class="custom-file">
                    <input type="file" class="form-control-file" name="photo"
                           accept="image/*"
                           id="imgInput"/>
                    <label class="custom-file-label" for="imgInput" th:text="#{products_upload_choose_file}">Choose file image</label>
                </div>
                <div class="form-group">
                    <img id="imagePreview" height="150px" width="150px"
                         alt=" ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <button type="submit" class="btn btn-info btn-lg mt-4 mb-2" th:text="#{products_upload_add}">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
<script>
    document.getElementById('imgInput').addEventListener('change', function (event) {
        var input = event.target;
        var preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.innerHTML = '<img src="' + e.target.result + '" alt=" " style="max-width: 150px; max-height: 150px;">';
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            preview.innerHTML = '';
        }
    });
</script>
