<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

<div class="container-fluid">
    <div th:if="${emptyShop}" class="text-center text-danger py-5">
        <h5 th:text="${emptyShop}"></h5>
        <a sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')" th:href="@{/products/add}">
            <button type="button" class="btn btn-primary btn-lg btn-default md-btn-flat mt-2 mr-3">Add products
            </button>
        </a>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="d-flex gap-2">
            <h5 class="text-left" th:text="#{products_search}">Search for products</h5>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <form class="d-flex justify-content-center align-items-center gap-1" th:action="@{/search}" method="get">
            <input class="form-control" type="text" name="query"/>
            <button class="btn btn-primary" type="submit" th:text="#{button_search}">Search</button>
        </form>
    </div>
    <h3 class="text-center text-black mt-5" th:text="#{navbar_all_products}">All Products</h3>
    <div th:if="${products.size > 0}" class="offers row mx-auto d-flex flex-row justify-content-center">

        <div th:each="product : ${products}"
             class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-4 mx-2">
            <div class="card-img-top-wrapper">
                <img class="card-img-top px-5 py-5" th:src="${product.imageUrl}" alt="Product image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title">
                    <th:block th:text="|${product.brand} ${product.name}|"></th:block>
                </h5>
            </div>
            <ul class="product-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text "><span th:text="#{products_size}"> Size:</span> [(${product.milliliters.value})]</div>
                    <div class="card-text fw-bold"><span th:text="#{products_price}"> Price:</span> € [(${product.price})]</div>
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-warning btn-sm form-control view-details" href="#"
                   th:href="@{/products/details/{productId}(productId=*{product.id})}" th:text="#{products_view_details}">View details</a>
                <form
                        th:action="@{/cart/add/{id}(id=${product.id})}"
                        th:method="post">
                    <button type="submit" class="btn btn-info mt-3 form-control add-to-cart" th:text="#{products_add_to_cart}">Аdd to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination">-->
<!--        <li th:if = "${currentPage != 0}" class="page-item">-->
<!--            <a th:href="@{'/products/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>-->
<!--        </li>-->
<!--        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">-->
<!--            <a th:href="@{'/products/' ${i - 1}}" class="page-link" href="#">1<span th:text="${i}"></span></a>-->
<!--        </li>-->
<!--        <li th:if = "${currentPage + 1 != totalPages}" class="page-item">-->
<!--            <a th:href="@{'/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a></li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#">3</a></li>-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#">Next</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<div class="d-flex justify-content-center mt-5">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.isFirst()} ? 'disabled' : ''">
                <a th:unless="${products.isFirst()}"
                   th:href="@{/products/all(size=${products.getSize()},page=0)}"
                   class="page-link" href="#" th:text="#{page_first}">First</a>
                <a th:if="${products.isFirst()}"
                   class="page-link" href="#" th:text="#{page_first}">First</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${products.hasPrevious()}"
                   th:href="@{/products/all(size=${products.getSize()},page=${products.getNumber() - 1})}"
                   class="page-link" href="#" th:text="#{page_previous}">Previous</a>
                <a th:unless="${products.hasPrevious()}"
                   class="page-link" href="#" th:text="#{page_previous}">Previous</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.hasNext() ? '' : 'disabled'}">
                <a th:if="${products.hasNext()}"
                   th:href="@{/products/all(size=${products.getSize()},page=${products.getNumber() + 1})}"
                   class="page-link" href="#" th:text="#{page_next}">Next</a>
                <a th:unless="${products.hasNext()}"
                   class="page-link" href="#" th:text="#{page_next}">Next</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.isLast()} ? 'disabled' : ''">
                <a th:unless="${products.isLast()}"
                   th:href="@{/products/all(size=${products.getSize()},page=${products.getTotalPages() - 1})}"
                   class="page-link" href="#" th:text="#{page_last}">Last</a>
                <a th:if="${products.isLast()}"
                   class="page-link" href="#" th:text="#{page_last}">Last</a>
            </li>
        </ul>
    </nav>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
