<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

<div class="container">
    <h2 class="text-center text-black" th:text="#{register_user}">Register User</h2>
    <form
            th:object="${userModel}"
            th:action="@{/users/register}"
            th:method="post"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center bg-gradient-primary">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-black font-weight-bold mt-2" th:text="#{register_fname}">First Name</label>
                <input id="firstName"
                       th:field="*{firstName}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control mt-2"
                       th:placeholder="#{register_fname}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('firstName')}"
                            th:text="${err}"
                    />
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-black font-weight-bold mt-2" th:text="#{register_lname}">Last Name</label>
                <input id="lastName"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control mt-2"
                       th:placeholder="#{register_lname}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('lastName')}"
                            th:text="${err}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-black font-weight-bold mt-2" th:text="#{register_email}">Email</label>
                <input id="email"
                       th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control mt-2"
                       th:placeholder="#{register_email}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('email')}"
                            th:text="${err}"
                    />
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-black font-weight-bold mt-2" th:text="#{register_username}">Username</label>
                <input id="username"
                       th:field="*{username}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control mt-2"
                       th:placeholder="#{register_username}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('username')}"
                            th:text="${err}"
                    />
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="phoneNumber" class="text-black font-weight-bold mt-2" th:text="#{register_phone}">Phone number</label>
                <input id="phoneNumber"
                       th:field="*{phoneNumber}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control mt-2"
                       th:placeholder="#{register_phone}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('phoneNumber')}"
                            th:text="${err}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-black font-weight-bold mt-2" th:text="#{register_password}">Password</label>
                <input id="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       type="password" class="form-control mt-2"
                       th:placeholder="#{register_password}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('password')}"
                            th:text="${err}"
                    />
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="confirm-password" class="text-black font-weight-bold mt-2" th:text="#{register_confirmPassword}">Confirm password</label>
                <input id="confirm-password"
                       th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control mt-2"
                       th:placeholder="#{register_confirmPassword}"/>
                <div class="invalid-feedback errors alert alert-danger">
                    <div
                            th:each="err : ${#fields.errors('confirmPassword')}"
                            th:text="${err}"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <button type="submit" class="btn btn-warning form-control mt-2 mb-2 register-btn" th:text="#{navbar_register}">Register</button>

                </div>
            </div>
        </div>
    </form>
</div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
