<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

<div class="container text-center flex-column justify-content-center profile-box pb-5" th:object="${userProfile}">
    <h5 class="text-center text-black mt-5" th:text="#{navbar_my_profile}">My profile</h5>
    <img
            th:src="@{/images/user-icon.png}"
            alt="userIcon" class="img-fluid my-1" style="width: 40px;"/>

    <div class="align-content-center justify-content-center">
        <!--        <h4>Details</h4>-->
        <!--        <hr class="mt-0 mb-4 justify-content-center" style="width: 20rem">-->
        <div class="d-flex flex-column justify-content-center">
            <div>
                <h6 th:text="#{user_profile_name}">Name</h6>
                <p th:text="|${userProfile.firstName} ${userProfile.lastName}|" class="text-primary"
                   style="font-weight: 500">123 456 789</p>
            </div>
            <div>
                <h6 th:text="#{register_email}">Email</h6>
                <p th:text="${userProfile.email}" class="text-primary" style="font-weight: 500">
                    info@example.com</p>
            </div>
            <div>
                <h6 th:text="#{register_username}">Username</h6>
                <p th:text="${userProfile.username}" class="text-primary" style="font-weight: 500">123
                    456 789</p>
            </div>
            <div>
                <h6 th:text="#{register_phone}">Phone</h6>
                <p th:text="${userProfile.phoneNumber}" class="text-primary" style="font-weight: 500">123
                    456 789</p>
            </div>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/all}">
                <button class="btn btn-info rounded-3" type="submit" th:text="#{users_back_button}">Back to all users</button>
            </a>
            <a sec:authorize="!hasRole('ADMIN')" hidden="" th:href="@{/users/edit/{id}(id=${userProfile.id})}">
                <button class="btn btn-warning rounded-3 text-center" disabled type="submit"
                        style="text-decoration: none; "
                >Edit Profile
                </button>
            </a>

        </div>
        <!--        <hr class="mt-0 mb-4">-->
        <div class="d-flex mt-2 justify-content-center">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
            <a href="https://www.twitter.com"><i class="fa-brands fa-x-twitter fa-lg me-2"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
