<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}">Navbar</nav>
</div>

<div class="container d-flex flex-column justify-content-center" style="background-color: transparent; border-radius: 16px; margin-top: 150px; width: 70%;">

    <div class="row" th:object="${user}">

        <div class="col-12">
<!--            <h4 class="text-center"-->
<!--                th:text="|Change role to ${user.getFirstName() + ' ' + user.getLastName()} with email ${user.getEmail()}|"></h4>-->
            <div class="text-center h4 text-primary"> <span th:text="#{users_change_role_to}"> Change role to:</span> <span class="text-danger">[(${user.getFirstName() + ' ' + user.getLastName()})]</span>
                <span th:text="#{users_change_with_email}"> with email </span> <span class="text-danger">[(${user.getEmail()})]</span>
            </div>
            <table class="table table-bordered rounded-3 overflow-hidden" style="background-color: #90BFFF">
                <thead>
                <tr style="background-color: #90BFFF; color: black">
                    <th scope="col" class="text-center fw-bold" th:text="#{users_roles}">User roles</th>
                    <th scope="col" class="text-center fw-bold" th:text="#{users_change_role}">Change roles</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="role: ${T(com.app.perfumeshop.model.enums.UserRoleEnum).values()}"
                    th:object="${role}" style="background-color: #F4F1ED; color: black; border-radius: 10px">

                    <th scope="row" th:text="${role.name()}" class="text-center text-black"
                    >1
                    </th>

                    <td style="font-weight:bold; text-align: center"
                        th:if="${#strings.equals(role.name(),'USER')}" th:text="#{users_cannot_add}">
                        Cannot add User role!
                    </td>

                    <td style="font-weight: bold; text-align: center; color: red"
                        th:if="${#strings.equals(role.name(),'ADMIN')}" th:text="#{users_cannot_make_admin}">
                        Cannot make somebody admin!
                    </td>

                    <td style="text-align: center;"
                        th:if="${#strings.equals(role.name(),'EMPLOYEE')}">
                        <form th:method="PATCH"
                              th:action="@{/users/roles/add/{id}(id=${user.id})}"
                              th:object="${user}">
                            <button class="btn button-detail btn-success rounded-3" type="submit"
                                    th:unless="${user.hasRoleEmployee()}" th:text="#{users_add_role}"
                            >Add role
                            </button>
                        </form>

                        <form th:method="PATCH"
                              th:action="@{/users/roles/remove/{id}(id=${user.id})}"
                              th:object="${user}">
                            <button class="btn button-detail btn-danger rounded-3" type="submit" th:text="#{users_remove_role}"
                                    th:if="${user.hasRoleEmployee()}"
                            >Remove role
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/all}">
            <button class="btn btn-info rounded-3 d-flex justify-content-center" type="submit" th:text="#{users_back_button}">Back to all users</button>
        </a>
    </div>

</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
